nav{
	background: #ccc;
	height:80px;
}
nav ul{
	list-style:none;
	margin:0;
	float:right;
}
nav ul li,nav .logo{
	display:inline-block;
	line-height: 50px;
	margin:20px;

}
nav ul li,nav .logo a{
	text-decoration: none;
}

nav ul li a{
	text-decoration: none;
	display: inline-block;
	line-height: inherit；
	height:inherit;
	color: #fff;
	background: #cdccce;
}
nav ul li.logo{
	float: left;
	padding:10px;

}
h2{
	font-size: 24px;
}
h3{
	font-size: 20px;
}
p{
	font-size:12px;
	letter-spacing: 1px;
}
header{
	background:rgba(0,0,0,0.4);
}
#banner{
	height:700px;
	background: rgba(0,0,0,0.2);
}
#banner .inner{
	max-width:300px;
	text-align:center;
	margin:0 auto;
	position: relative;
	top:160px;
}
#banner .inner h1{
	margin:0;
}
button{
	border:none;
	background:#ff0000;
	color:#eee;
	padding:13px 24px;
	margin-top: 30px;
}
#banner .inner .more{
	margin-top: 280px;

}
.sub-heading{
	line-height:30px;
	margin:10px 0;
}
.logo{
		font-size:20px;
	font-weight: 700;
	letter-spacing: 4px;
}
.inner .more{
	color:#fff;
}
.logo a{
	color:#ffffff;
}
.green-section{
text-align: center;
background: #089DB0;
color:#ffffff;
padding: 100px 0;
}
.wrapper{
	max-width:1080px;
	margin:0 auto;
}

.green-section .hr{
background: #000000;
width:60%;
}
.hr{
	width:100%;
        height: 2px;
        margin:20px auto;
}
.green-section .icon-group .icon{
	display: inline-block;
	width:80px;
	height:80px;
	background: #45c5d2;
	border: 1px solid #0D6F7C;
	transform: rotate(45deg);
	margin:20px;
}
.icon-group{
	margin-top: 20px;
}
.gray-section{
background: #255369;
color:#fff;


}
.gray-section .img-section{
	width:45%;
}
.img-section img{
	width:100%;
}
.gray-section .text-section{
	width:55%;
}

.article-preview > div{
font-size:0;
float: left;
}
.article-preview:after{
	content:'';
	display: block;
	clear:both;

}
.text-section{
	position: relative;
       top: 68px;
       left: 50px;
}
.text-section h2{
	margin-bottom: 20px;
	font-size: 22px;
	margin-top: 10px;
}
.text-section p{
	font-size: 14px;
	letter-spacing: 1px;
} 
.text-section .sub-heading{
	font-size: 18px;
	margin-top: 0;
}
.text-section>*{
	max-width: 90%;
}
.purple-section{
	background: #3F3965;
	color:#fff;
	padding: 80px;
	height:1200px;
}
.purple-section .heading-wrapper{
	text-align:center;
}
.purple-section .hr{
	background: #373259;
	width:60%;
}
.card{
	float:left;
	width:50%;
	min-height:300px;
	padding:20px;
	-webkit-box-sizing: border-box;	
	-moz-box-sizing: border-box;	
	box-sizing: border-box;	

}
.clearfix{
	content:'';
       display: block;	
       clear:both;
}
.card:first-child{
	background: rgba(0,0,0,0.05);
}
.card:nth-child(2){
	background: rgba(0,0,0,0.09);
}
.card:nth-child(3){
	background: rgba(0,0,0,0.14);
}
.card:nth-child(4){
	background: rgba(0,0,0,0.17);
}
.card:nth-child(5){
	background: rgba(0,0,0,0.21);
}
.card:nth-child(6){
	background: rgba(0,0,0,0.25);
}
footer{
	background: #333;
	color:#fff;
	min-height: 200px;
	text-align:center;
}
footer ul{
	margin:0;
}
ul.share-group{
	display: block;
	width:1080px;
	margin: 0 auto;
	padding:50px;
}
.share-group li{
	display: inline-block;
	padding: 10px;

}
.copy{
padding: 20px;
}
.main-wrapper{
	background: #444 url(img/banner.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.inner .hr{
	background: #fff;
	margin:auto;
}
#banner .inner h1{
       margin-top: 20px;
       margin-bottom: 20px;
       color: #cdccce;
}
